*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{
  outline: none;
}
a:focus,a:active{
  outline: none;
}
nav,footer,header,main{
  display: block;
}
html,body{
  height:100%;
  width:100%;
  font-size:100%;
  line-height:1;
  font-size:14px;
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;}
input,button,textarea{
  font-family:inherit;
}
input::-ms-clear{display: none;}
button{
  cursor: pointer;}
button::-moz-focus-inner {
  padding:0;border:0;}
a,a:visited{
  text-decoration: none;
}
a:hover,a:focus,a:active{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
 }
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight: inherit;
}

body {
 font-family: 'Muller', sans-serif;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* background: url(../images/block1.jpg) top center no-repeat;
  min-height: 793px;  
  background-size: cover; */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 196, 196);
  z-index: 2;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
.main {
  padding: 110px 0 0 0;
 
}
.main__title {
  margin: 80px 0 0 0;
  text-align: center;
  position: relative;
  font-size: 36px;
  font-family: 'Muller';
  font-weight: 500;
  font-style: normal;
  }
.main__title:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center url(../images/wave.svg);
}
.main__grid {
  display: grid;  
  margin: 100px 0 0 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.main__grid-item {
  background-color: #fff8e6;
  text-align: center;
  font-weight: 400;
  border: 2px solid black;
}
.main__grid-content { 
  display: block; 
  font-size: 14px;
  margin-top: 30px; 
}
.main__grid-title {
  font-size: 18px;
  margin-top: 15px; 

}
.main__grid-read {
  display: block; 
  font-size: 12px;
  margin-top: 20px; 
  color: #5a56af;
}
.main__btn {
  display: inline-block;
  margin: 20px; 
  font-size: 12px;
  width: 180px;
  height: 40px;
  border: 2px solid #e28234;
  color: #e28234;
  font-weight: bold;
  line-height: 40px;
  transition: all .5s;
}
.main__btn:hover {
  background-color: #e28234;
  color: #ffffff;
}
.main__slider {
 background-image: url("../images/BG.png");
 background-position: top;
 background-size: auto 487px;
 background-repeat: no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  max-height: 100%;
  position: relative;
 }
 .main__slider h2{
padding-top: 80px;
 }
  .main__slider h2:before{
  top: 80px;
 }
.slider {
  margin-top: 100px;
  }
.slider__item {
  position: relative;
  z-index: 0;
 }

.slick-slide{
  min-width: 0;
  margin: 25px 15px 0 15px;
  background-color: #6f6f6f;
  }
.slick-slide img{
  width: 850px;
  height: 480px;
  opacity: 0.2;
}
.slick-list {
  overflow: hidden;
}
.slick-track{
  display: flex;
  justify-content: center;
}
.main__slider--description{
 display: none;
}
.slider__item.slick-slide.slick-active .main__slider--description{
display: block;
width: 880px;
height: 470px;
border: 1px solid #ffffff;
color: #ffffff;
text-align: center;
position: absolute;
top: 30px;
left: 30px;
z-index: 45;
}
.slider__description--title {
font-size: 30px;
font-weight: 500;
text-transform: uppercase;
margin-top: 175px;
}
.slider__description--text {
 font-size: 18px;
font-weight: 400;
margin-top: 25px;
}
.slider__item.slick-slide.slick-active { 
  margin-top:0; 
  background-color: #84979e;
  
 } 
.slider__item.slick-slide.slick-active img{ 
  width: 940px;
  height: 530px;
  opacity: 0.5;
} 

.main__price {
  background-color: #f8f2e4;
}
.price__wrapper{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.main__price h2{
   padding-top: 80px;
 }
  .main__price h2:before{
  top: 80px;
 }

.price__list {
  width: 83.708%;
  height: 240px;
  background-color: #ffffff;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
 
}
.price__list--items {
  font-size: 21px;
  font-weight: 400;
}
.price__list--items li{
padding: 45px 10px 0 45px;
display: flex;
justify-content: space-between;
}
.price__list--items a{
color: #000000;
}
.price__list--special{
font-size: 20px;
font-weight: 400;
  height: 70px;
  background-color: #f4e1b6;
  margin-top: 40px;
  display: flex;
    justify-content: space-around;
}
.price__list--special span{
padding: 25px 0px 0px 50px;
}
.price__list--special .main__btn{
  width: 140px;
  margin: 15px;
 font-weight: bold;
 text-align: center;
 font-size: 16px;
}
.price__item--text {
 font-size: 20px;
  font-weight: 400;
  color: #dd490f;
  padding-right: 50px;
}
.price__included {
  margin-top: 100px;
  color: #4e4e4e;
font-size: 18px;
font-weight: 400;
}
.price__included li{
  padding: 10px;
  list-style-image: url('../images/mark.svg');
}

.price__included--title {
  font-size: 24px;
font-weight: bold;
line-height: 60px;
text-align: center;
}
.price__noincluded {
  margin-top: 50px;
   color: #4e4e4e;
font-size: 18px;
font-weight: 400;
    width: 70%;
}
.price__noincluded li{
  padding: 10px;
  list-style-image: url('../images/mark2.svg');
}
.price__noincluded--title {
  font-size: 23px;
font-weight: bold;
line-height: 30px;
text-align: center;
}
.price__description {
   margin-top: 50px;
    font-size: 24px;
font-weight: bold;
line-height: 60px;
text-align: center;
}



@media only screen and (max-width: 767px) {
  body.lock{
    overflow: hidden;
  }
  .header__body {
    height: 60px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span,
  .header__burger::after,
  .header__burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger span {
    top: 9px;    
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(165, 154, 154);
    padding: 70px 10px 20px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }
}



/* @media (max-width: 570px) {
  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
  }

  .menu__btn span {
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 9px;
    position: absolute;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
  }

  .menu__btn::after {
    top: 0;
  }

  .menu__btn::before {
    bottom: 0;
  }
} */